@charset"UTF-8";

* {
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(to right, #10454F, #A3AB78);
}

main {
  width: 600px;
  background-color: white;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
}

p {
  text-align: justify;
  color: #818274;
}

h1 {
  color: #506266;
  text-align: center;
}

h2 {
  color: #87d190;
}