@charset "UTF-8";

* {
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(to right, #13678A, #DAFDBA);
}

main {
  background-color: white;
  width: 600px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
}

h1 {
  color: #298d7e;
  text-align: center;

}

h2 {
  color: #87d190;
}

p {
  text-align: justify;
}