@font-face {
  font-family: idroid;
  src: url(../fontes/idroid.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cor1: #c5ebd6;
}

body {
  background-color: var(--cor1);
}

h1 {
  font-family: 'Bebas Neue', cursive;
  padding-bottom: 15px;
}

p {
  margin-top: 10px;
}

h2 {
  margin: 10px 0 10px 0;
}

header {
  background-image: linear-gradient(to top, #084E26, #239054);
  text-align: center;
  height: 150px;
  color: white;
  font-weight: normal;
  padding-bottom: 20px;
}

header nav {
  text-align: left;
}

header nav a {
  color: rgb(194, 192, 192);
  text-decoration: none;
  margin: 0 15px 0 10px;
}

header nav a:hover {
  text-decoration: underline;
  background-color: transparent;
}


main {
  min-width: 320px;
  max-width: 800px;
  background-color: white;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

main article img {
  width: 100%;
}

iframe {
  width: 100%;
}

aside ul li {
  margin-left: 10px;
}