@font-face {
  font-family: idroid;
  src: url(../fontes/idroid.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #E8E5C2;
}

h1 {
  font-family: 'idroid';
}

header {
  background-image: linear-gradient(to top, #084E26, #239054);
  text-align: center;
  height: 150px;
  color: white;
  font-weight: normal;
}

header nav {
  text-align: left;
}

header nav a {
  color: rgb(194, 192, 192);
  text-decoration: none;
  margin-right: 15px;
  height: 500px;
  background-color: red;
}

header nav a:hover {
  text-decoration: underline;
  background-color: transparent;
}


main {
  width: 800px;
  background-color: white;
  margin: auto;
}
